<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyse a string</title>
</head>
<body>
{% include 'menu.html' %}
    <h1>Анализ строки</h1>
<form method="post">
    {% csrf_token %}
    <textarea name="input_string" rows="4" cols="50" placeholder="Введите строку..."></textarea>
    <button type="submit">Анализировать</button>
</form>

{% if words %}
    <h2>Результаты:</h2>
    <p>Количество слов: {{ word_count }}</p>
    <p>Количество чисел: {{ number_count }}</p>
    <h3>Слова:</h3>
    <ul>
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
    </ul>
    <h3>Числа:</h3>
    <ul>
        {% for number in numbers %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
{% endif %}

<a href="/">На главную</a>
</body>
</html>